argh==0.26.1
Django==1.8.2
django-extensions==1.5.5
django-modeltranslation==0.9.1
django-rosetta==0.7.6
django-suit==0.2.13
microsofttranslator==0.5
pathtools==0.1.2
polib==1.0.6
PyYAML==3.11
requests==2.7.0
six==1.9.0
watchdog==0.8.3
