{% load i18n %}
<!-- sidebar -->
<div class="sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav">
    <li class="active"><a href="{% url "home" %}"><i class="ion-home ion-large"></i> {% trans "Home" %}</a></li>
    <li><a href="{% url "patients" %}"><i class="ion-heart ion-large"></i> {% trans "Relatives" %}</a></li>
    <li><a href="{% url "questionnaires"%}"><i class="ion-clipboard ion-large"></i> {% trans "Questionnaires" %}</a></li>
    <li class="disabled"><a href="#"><i class="ion-medkit ion-large"></i> {% trans "Referees" %}</a></li>
    <li class="disabled"><a href="#"><i class="ion-ios-pie ion-large"></i> {% trans "Visualizations" %}</a></li>
    <li class="disabled"><a href="#"><i class="ion-chatboxes ion-large"></i> {% trans "Messages" %}</a></li>
    <li class="disabled"><a href="#"><i class="ion-android-contacts ion-large"></i> {% trans "Contacts" %}</a></li>
    <li class="disabled"><a href="#"><i class="ion-android-globe ion-large"></i> {% trans "Groups" %}</a></li>
  </ul>
</div>

{% comment %}
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-4 col-sm-2">
      {% include "partials/navbar-left.html" %}
    </div>
    <div class="col-xs-14 col-sm-10">
      <!-- Main Area -->
    </div>
  </div><!--/.row-->
  <link href="{% static "css/navbar-left.css" %}" ref="stylesheet">
  <script src="{% static "js/navbar-left.js" %}"></script>
{% endcomment %}