{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<h1>Add a dataset</h1>
<form method="get" action="{% url 'datasets:add' %}">
  Name: <input name="name" title="Name" type="text" /><br>
  Value 1: <input name="value1" title="Value 1" type="text" /><br>
  Value 2: <input name="value2" title="Value 2" type="text" /><br>
  Value 3: <input name="value3" title="Value 3" type="text" /><br>
  <input type="submit" value="Go">
</form>

{% for dataset in datasets %}
  <div class="node">
    Name: {{ dataset.name }}<br>
    Values:
    <ul>
      {% for value in dataset.values %}
        <li>
          {{ value }} {# <a href="{% url 'dataset_values:delete' %}">Delete value</a> #}
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'datasets:delete' dataset.name %}">Delete dataset</a>
  </div>
{% endfor %}