/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

footer {
    /* footer is always visible */
    z-index: 1000;
    position: absolute;
    bottom: -240px;
    max-height: 310px;
    width: 100%;
    background: #222 linear-gradient(to bottom, #3C3C3C 0px, #222 100%) repeat-x;
    border-color: #080808;
}

footer p {
    color: white;
}

#logo-list {
    margin: 10px;
}

#logo-list li {
    background-color: white;
    border-radius: 2px;
}

#logo-list li:hover {
    position: relative;
    bottom: 5px;
}